*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    display: flex;
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    margin-left: auto;
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li .link,.link-active{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}
.link:hover,.link-active{
    background: #1b9bff;
    transition: .5s;
}
.full-width{
    width: 100%;
}
.menu{
    display: none;
}
@media (max-width: 909px) {
    nav {
        display: none;
    }

    .menu {
        position: relative;
    }

    .menu:before {
        content: "\2630";
        font-size: 24px;
        cursor: pointer;
    }

    .menu.is-active .nav {
        display: block;
    }
}